body{
  background-color: blue;
}
.loginPageMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
}
.loginBox{
  background-color: white;
}
