<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href='#/home'>Fantasy Draft App</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <ul class="right">
    <a class='goBtn' dropdown-toggle="#dropdown-example-2">Go</a>
    <ul id="dropdown-example-2" class="f-dropdown">
      <li><a href="#/home">Home</a></li>
    </ul>
  </ul>
</nav>
<div class='createLeagueBox'>
  <h1>Create A League</h1>
  <form>
    <div class="row">
      <div class="large-12 columns">
        <label>League Name
          <input type="text" placeholder="name" />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label>Select Box
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
      </div>
      <div class="large-6 columns">
        <label>Select Box
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Textarea Label
          <textarea placeholder="small-12.columns"></textarea>
        </label>
      </div>
    </div>
  </form>
</div>
