<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href='#/home'>Fantasy Draft App</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <ul class="right">
    <a class='goBtn' dropdown-toggle="#dropdown-example-2">Go</a>
    <ul id="dropdown-example-2" class="f-dropdown">
      <li><a href="#/createLeague">Create a League</a></li>
      <li><a href="#/joinDraft">Join a league Draft</a></li>
    </ul>
  </ul>
</nav>
<div class='homeContent'>
  <div class='centerContent'>
    <h1 class='pageTile'>My leagues</h1>
    <div ng-repeat='league in leagues'>
      <div class="formWrap2">
        <div class='topBar'>
          <h5>Name: {{league.name}}</h5>
          <h5>Number of Teams: {{league.number_of_teams}}</h5>
          <h5>Roster Size: {{league.id}}</h5>
        </div>
        <button class='button tiny' ng-click='expandPlayers = !expandPlayers;'>Players</button>
        <div ng-show='expandPlayers'>
          <ul>
            <li ng-repeat='player in league.users'>Name: {{player.first_name}} {{player.last_name}}</li>
          </ul>
        </div>

      </div>
    </div>
  <div>
<div>
