<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href='#/home'>Fantasy Draft App</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <ul class="right">
    <a class='goBtn' dropdown-toggle="#dropdown-example-2">Go</a>
    <ul id="dropdown-example-2" class="f-dropdown">
      <li><a href="#/createLeague">Create a League</a></li>
      <li><a href="#/joinDraft">Join a league Draft</a></li>
    </ul>
  </ul>
</nav>
<div class='homeContent'>
  <div class='centerContent'>
    <h1 class='pageTile'>My leagues</h1>
    <div ng-repeat='league in leagues'>
      <div class="formWrap2">
        <div class='topBar'>
          <h5>Name: {{league.name}}</h5>
          <h5>Number of Teams: {{league.number_of_teams}}</h5>
          <h5>Roster Size: {{league.id}}</h5>
        </div>
        <button class='button tiny' ng-click='expandPlayers = !expandPlayers;'>Players and Drafts</button>
        <button ng-show='league.number_of_teams == league.users.length;' class='button tiny' ng-click='editDraft(league.id);'>Edit Draft</button>
        <div ng-show='expandPlayers'>
          <h3>Users</h3>
          <table>
            <thead>
              <th>Info</th>
              <th>Joined</th>
            </thead>
            <tbody>
              <tr>
                <td><em>Have Accounts</em></td>
                <td></td>
              </tr>
              <tr ng-repeat='player in league.users'>
                <td>Name: {{player.first_name}} {{player.last_name}} Email: {{player.email}}</td>
                <td>{{player.joined}}</td>
              </tr>
              <tr>
                <td><em>Invited<em></td>
                <td></td>
              </tr>
              <tr ng-repeat='player in league.invitedUsers'>
                <td>Email:{{player.email}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <h3>Drafts</h3>
          <table>
            <thead>
              <th>Year</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat='draft in league.drafts'>
                <td>{{draft.year}}</td>
                <td><button class='button tiny' ng-click='startDraft(draft.id)'>Start Draft</button></td>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  <div>
<div>
