<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href='#/home'>Fantasy Draft App</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <ul class="right">
    <a class='goBtn' dropdown-toggle="#dropdown-example-2">Go</a>
    <ul id="dropdown-example-2" class="f-dropdown">
      <li><a href="#/home">Home</a></li>
      <li><a href="#/createLeague">Create a League</a></li>
    </ul>
  </ul>
</nav>
<h2> It's {{title}}</h2>
